<% include partials/header %>

<h1>Our top posts</h1>
<p>Those are currently rockin' a poney:</p>

<ul>
    <% for (var i = 0; i < posts.length; i++) { %>
    <li><em><%= posts[i].title %></em> - <%= posts[i].author %></li>
    <% } %>
</ul>

<% include partials/footer %>