<h1>My friends list</h1>

<ul>
    <% friends.forEach(function(friend) { %>
        <li><%= friend %></li>
    <% }); %>
</ul>

<h2>Add a new friend</h2>
<form action="/addfriend" method="POST">
    <input type="text" name="friendName" placeholder="Enter name here!" />
    <button>Create!</button>
</form>